.one {
	background-color: black;
}
.IMGme {
	/* margin-left: 490px; */
	opacity: 0.8;
	border: 1px solid white;
	border-radius: 80px;
	/* margin-top: 200px; */
}
.IMGme:hover {
	opacity: 1;
}
.Pme {
	color: white;
	width: 600px;
	font-size: 20px;
}
.P2me {
	color: white;
	font-size: 48px;
}
.a5 {
	margin-top: 10px;
	margin-left: 0px;
}

a {
	margin-top: 10px;
	margin-left: 0px;
	font-family: fantasy;
	/*text-decoration: none;*/

	margin: 10px;
	/* position: absolute; */
	opacity: 0.8;
	font-size: 32px;
	/*border-right: white solid 4px;
	border-bottom: white solid 4px;*/

	color: White;
	font-size: 38px;
	/*	border: 1p white solid;*/
	/*background-color: rgba(255, 255, 255, 0.514);*/
}

.a1 {
	margin-left: 30px;
}
a:hover {
	opacity: 1;
	text-decoration: underline;
}
.Hcom {
	color: white;
	font-family: fantasy;
	font-size: 48px;
	opacity: 0.9;
}
.Hcom:hover {
	opacity: 1;
}
.a4 {
	/*position: absolute;
	float: right;*/
	/* margin-left: 1150px; */
	/* margin-bottom: 20px; */
	color: white;
	font-size: 38px;
	/*border: 1p white solid;*/
	/*background-color: rgba(255, 255, 255, 0.514);*/
}

.contact-us-footer {
	width: 100%;
	text-align: right;
}

.L4 {
	margin-left: 890px;
	opacity: 0.8;
	border: 1px solid white;
}
.L4:hover {
	opacity: 1;
}

.H3com:hover {
	opacity: 1;
}
.H3com {
	color: white;
	font-family: futura;
	font-size: 32px;
	opacity: 0.9;
	width: 500px;
}
.H2com {
	color: white;
	font-family: Brush Script MT;
	font-size: 72px;
}

.G {
	/* float: right; */
	position: absolute;
	right: 5px;
}
.S {
	position: absolute;
	top: 400px;
	left: 0;
}

.L2 {
	/*float: left;*/

	border: 1px solid white;
	margin-top: 60px;
	margin-left: 20px;
}

.bus-card {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.comp {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.me {
	padding-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
